<!--SNSシェアボタン-->
<div class="share-buttons">
  <span style="font-size: 8px">シェアする</span>
  <div class="inner">
  <!--はてなブックマーク-->
  <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" class="hatena-bookmark-button" target="_blank" data-hatena-bookmark-title="{{ .Title }}" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加"><i class="blogicon-bookmark lg"></i> <span class="hatena-bookmark-count share-text"><i class="fa fa-spinner fa-spin"></i></span><br> <span class="share-text">Bookmark!</span></a>
  <!--Facebook-->
  <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" class="facebook-button" onclick="window.open(this.href,'FaceBookWindow','width=650,height=450,menubar=no,toolbar=no,scrollbars=yes');return false;" title="Facebookでシェア"><i class="blogicon-facebook lg"></i> <span class="facebook-count share-text"><i class="fa fa-spinner fa-spin"></i></span><br><span class="share-text">Facebook</span></a>
  <!--Twitter-->
  <a href="http://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }}" class="twitter-button" onclick="window.open(this.href, 'TwitterWindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="blogicon-twitter lg"></i><br><span class="share-text">Twitter</span></a>
  <!--Google+-->
  <a href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'GooglePlusWindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="googleplus-button"><i class="fa fa-google-plus"></i><br><span class="share-text">Google+</span></a>
  <!--Pocket-->
  <a href="http://getpocket.com/edit?url={{ .Permalink }}" class="pocket-button" target="_blank"><i class="fa fa-get-pocket"></i><br><span class="share-text">Pocket</span></a>
  </div>
</div>
<script>
//はてなブックマークのシェア数
function getHatenaBookmarkCount(entryUrl, selcter) {
entryUrl = 'http://api.b.st-hatena.com/entry.count?url=' + encodeURIComponent(entryUrl)
$.ajax({
  url:entryUrl,
  dataType:'jsonp',
}).then(
  function(result){ $(selcter).text(result || 0); },
  function(){ $(selcter).text('0'); }
);
}
//Facebookのシェア数
function getFacebookCount(entryUrl, selcter) {
entryUrl = 'https://graph.facebook.com/' + encodeURIComponent(entryUrl)
$.ajax({
  url:entryUrl,
  dataType:'jsonp'
}).then(
  function(result){
      if(result.share && result.share.share_count) {
          $(selcter).text(result.share.share_count);
      } else {
          $(selcter).text('0');
      }
  },
  function(){ $(selcter).text('0'); }
);
}
$(function(){
getHatenaBookmarkCount('{Permalink}', '.hatena-bookmark-count');
getFacebookCount('{Permalink}', '.facebook-count');
});
</script>
